<tr>
    <th ng-click="sort('forename')"> Name
        <i ng-show="sortKey == null" class="material-icons">&#xE258;</i>
        <i ng-show="sortKey == 'forename' && !reverse" class="material-icons">&#xE258;</i>
        <i ng-show="sortKey == 'forename' && reverse" class="material-icons">&#xE25A;</i>
    </th>   
    <th ng-click="sort('address1')" class="show-for-medium-table">Address 
        <i ng-show="sortKey == 'address1' && !reverse" class="material-icons">&#xE258;</i>
        <i ng-show="sortKey == 'address1' && reverse" class="material-icons">&#xE25A;</i>
    </th>        
    <th ng-click="sort('county')" class="show-for-medium-table">County 
        <i ng-show="sortKey == 'county' && !reverse" class="material-icons">&#xE258;</i>
        <i ng-show="sortKey == 'county' && reverse" class="material-icons">&#xE25A;</i>
    </th>        
    <th ng-click="sort('country')" class="show-for-medium-table">Country 
        <i ng-show="sortKey == 'country' && !reverse" class="material-icons">&#xE258;</i>
        <i ng-show="sortKey == 'country' && reverse" class="material-icons">&#xE25A;</i>
    </th>             
    <th ng-click="sort('postcode')" class="show-for-medium-table">Postcode 
        <i ng-show="sortKey == 'postcode' && !reverse" class="material-icons">&#xE258;</i>
        <i ng-show="sortKey == 'postcode' && reverse" class="material-icons">&#xE25A;</i>
    </th>        
    <th ng-click="sort('type')" class="show-for-medium-table">Type 
        <i ng-show="sortKey == 'type' && !reverse" class="material-icons">&#xE258;</i>
        <i ng-show="sortKey == 'type' && reverse" class="material-icons">&#xE25A;</i>
    </th>        
    <th class="show-for-medium-table">Image</th>
    <th></th>
</tr>