<div ui-view ng-init="getAudits()">
<!--    <pre>
    {{ audits|json }}
    </pre>-->
    
    <div class="grid-block wrap">
        <div class="grid-content">
            <h1>Audit Dashboard</h1>
        </div>
        <div class="small-12 medium-4 grid-content text-right">
            <md-content>
                <md-input-container class="md-icon-float md-block">
                    <input ng-model="query" type="text" placeholder="Search audits..." autofocus>
                    <md-icon class="name"><i class="material-icons">&#xE8B6;</i></md-icon>
                </md-input-container>
            </md-content>
        </div>
    </div>
    <div class="grid-block">
        <a class="success button" ui-sref="audit-new">
            <i class="material-icons">&#xE89C;</i>
            Create New Audit
        </a>
        <a class="success button" ui-sref="audit-new">
            <i class="material-icons">&#xE89C;</i>
            Create New Audit Type
        </a>      
    </div>
    <table class="text-center table-100">
        <tr>
            <th ng-click="sort('name')">Audit Name 
                <i ng-show="sortKey == null" class="material-icons">&#xE258;</i>
                <i ng-show="sortKey == 'name' && !reverse" class="material-icons">&#xE258;</i>
                <i ng-show="sortKey == 'name' && reverse" class="material-icons">&#xE25A;</i>
            </th>
            <th ng-click="sort('description')" class="show-for-medium-table">Description 
                <i ng-show="sortKey == 'description' && !reverse" class="material-icons">&#xE258;</i>
                <i ng-show="sortKey == 'description' && reverse" class="material-icons">&#xE25A;</i>
            </th>        
            <th ng-click="sort('audit_type_name')" class="show-for-medium-table">Audit Type
                <i ng-show="sortKey == 'audit_type_name' && !reverse" class="material-icons">&#xE258;</i>
                <i ng-show="sortKey == 'audit_type_name' && reverse" class="material-icons">&#xE25A;</i>
            </th>
            <th ng-click="sort('created_at')" class="show-for-medium-table">Created
                <i ng-show="sortKey == 'created_at' && !reverse" class="material-icons">&#xE258;</i>
                <i ng-show="sortKey == 'created_at' && reverse" class="material-icons">&#xE25A;</i>
            </th>
            <th>Actions</th>
        </tr>
        <tr dir-paginate="audit in audits| toArray: false | filter:query | orderBy: sortKey:reverse|itemsPerPage:5" ng-class="{leave: startFade}" ng-hide="audit.isHidden">
        <!--<tr ng-repeat="audit in audits| toArray:false | filter:query | orderBy: sortKey:reverse" ng-class="{leave: startFade}" ng-hide="audit.isHidden">-->

            <td><a ui-sref='audit-view({anauditid: audit.id})'>{{audit.name}}</a></td>
            <td class="show-for-medium-table">{{audit.description}}</td>
            <td class="show-for-medium-table">{{audit.audit_type_name}}</td>
            <td class="show-for-medium-table">{{audit.created_at}}</td>
            <td>
                <div class="float-right" class="" zf-action-sheet="">
                    <div zf-as-button="" title="Actions"></div>
                    <div zf-as-content="" position="bottom">
                        <ul>
                            <li><a ui-sref="audit-view({anauditid: audit.id})">View</a></li>
                            <li><a ui-sref='audit-update({anauditid: audit.id})'>Edit</a></li>
                            <li><a ui-sref="take-audit({anauditid: audit.id})">Take Audit</a></li>
                            <li><a ui-sref="#">Assign</a></li>
                            <li>
                            <zf-action-sheet id="my-actionsheet">
                                <md-button class="md-primary md-raised" ng-click="showConfirm($event, audit.id, $index)" >
                                    Retire Audit
                                </md-button>
                            </zf-action-sheet>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
    </table>   

    <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
    </dir-pagination-controls>

</div>


<!--</div>-->
