
<div ui-view ng-init="getAudits()">
    <!--<div ncy-breadcrumb></div>-->
    <div class="grid-block">
        <h1>View all audits</h1>
    </div>
    <!--<div class="grid-block">-->

    <a class="expand success button" ui-sref="audit-new">Create New Audit</a>

    
    <table class="table-100">
        <tr>
        <th>Audit Name</th>
        <th class="show-for-medium-table">Description</th>        
        <th class="show-for-medium-table">Audit Type</th>
        <th class="show-for-medium-table">Created</th>
        <th>Actions</th>
        </tr>
        
        <tr ng-repeat="audit in audits">
            <td><a ui-sref='audit-view'>{{audit.name}}</a></td>
            
            <td class="show-for-medium-table">This column is only shown on medium up devices</td>
            <td class="show-for-medium-table">This column is only shown on medium up devices</td>
            <td class="show-for-medium-table">{{audit.created_at}}</td>
            
            <td>
                <div class="float-right" class="" zf-action-sheet="">
                    <div zf-as-button="" title="Actions"></div>
                    <div zf-as-content="" position="bottom">
                        <p>What you wana do?</p>
                        <ul>
                            <li><a ui-sref="audit-view">View</a></li>
                            <li><a ui-sref='audit-update({anauditid: audit.id})'>Edit</a></li>
                            <li><a ui-sref="take-audit">Take Audit</a></li>
                            <li><a ui-sref="#">Assign</a></li>
                            <li>
                            <zf-action-sheet id="my-actionsheet">
                                <zf-as-button><span class="button alert">Delete</span></zf-as-button>
                                <zf-as-content position="top">
                                    <p>Are you sure you want to delete this?</p>
                                    <a class='button alert' ui-sref='audit-delete'>Yes, delete it now please. <img zf-iconic="" icon="circle-x" size="medium"></a>
                                </zf-as-content>
                            </zf-action-sheet>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        
        
    </table>
    
    <h3>This is a great place for pagination, though this one looks nice it doesn't really do anything yet.</h3>
    
    <nav role="navigation">
	<ul class="cd-pagination ">
		<li><a class="button primary" href="#0">Prev</a></li>
		<li class="show-for-medium-inline"><a href="#0">1</a></li>
		<li class="show-for-medium-inline"><a href="#0">2</a></li>
		<li class="show-for-medium-inline"><a class="current" href="#0">3</a></li>
		<li class="show-for-medium-inline"><a href="#0">4</a></li>
		<li class="show-for-medium-inline"><span>...</span></li>
		<li class="show-for-medium-inline"><a href="#0">20</a></li>
		<li><a class="button primary" href="#0">Next</a></li>
	</ul>
</nav> 


</div>


<!--</div>-->
