<div ui-view>

    <h1>New Audit</h1>
    <!--</div>-->
    <!--<div class="">-->
    <p class='lead'>Create a new audit here.</p>
    <!--THIS IS THE PAGE HEADER SECTION-->

    <div class="grid-block wrap">
        <div class="small-12 medium-4 grid-content">
            <label for="audit_name">
                Audit Name</label>
            <input ng-model="audit.name" id="audit_name" placeholder="Audit Name" type="text">
        </div>
        <div class="small-12 medium-4 grid-content">
            <label for="short_description">
                Short Description</label>
            <input  ng-model="audit.description" id="short_description" placeholder="Short Description" type="text">

        </div>
        <div class="small-12 medium-4 grid-content">
            <label for="audit_type">Audit Type</label>

            <select name="auditType" id="auditType"
                    ng-options="type.name for type in auditType track by type.id"
                    ng-model="audit.auditType">                            
            </select>

        </div>
    </div>
    <!--<form name="userForm" novalidate>-->
    <hr>

    <!--START THE GROUPS-->
    <div class="grid-block wrap group" ng-repeat="group in audit.groups">
        <!--THIS IS THE GROUP HEADERS-->        
        <div class="grid-block grbanoup-title-bar">
            <div class="grid-content small-6 large-10">
                <label>Group Name</label>
                <input ng-model="group.name" name="groupName" type="text" value="{{group.name}}">
            </div>
            <div class="grid-content small-6 large-2 v-align">
                <button class="button alert expand margin-auto" ng-click="removeGroup($index)">Remove Group <img zf-iconic="" icon="ban"  size="small"></button>
            </div>
        </div>
        <!--THIS IS THE QUESTIONS-->
        <div class="grid-block small-12 wrap alternate" ng-repeat="question in group.questions">
            <div class="grid-content small-12 medium-8 large-4">
                <label  for='question{{$parent.$index}}{{$index}}'>Question</label>
                <input ng-model="question.question" id='question{{$parent.$index}}{{$index}}' type="text" value="{{question.question}}" placeholder="{{question.placeholder}}">
            </div>
            <div class="grid-content small-12 medium-4 large-2">
                <label for='questionType{{$parent.$index}}{{$index}}'> Question Type</label>
                <select name="questionType{{$parent.$index}}{{$index}}" id="questionType{{$parent.$index}}{{$index}}"
                        ng-options="option.name for option in questionType track by option.id"
                        ng-model="question.answerType">                            
                </select>
            </div>
            <div class="grid-content small-6 medium-3 large-1">
                <label>Answer Required</label>
                <ul class="button-group segmented">
                    <li>
                        <input ng-model="question.answerRequired" name="answerRequired{{$parent.$index}}{{$index}}" ng-value="1" id="answerRequiredYes{{$parent.$index}}{{$index}}" type="radio">
                        <label for="answerRequiredYes{{$parent.$index}}{{$index}}">Yes</label>
                    </li>
                    <li>
                        <input ng-model="question.answerRequired" name="answerRequired{{$parent.$index}}{{$index}}" ng-value="0" id="answerRequiredNo{{$parent.$index}}{{$index}}" type="radio">
                        <label for="answerRequiredNo{{$parent.$index}}{{$index}}">No</label>
                    </li>
                </ul>
            </div>
            <div class="grid-content small-6 medium-3 large-1">
                <label>Add Evidence</label>
                <ul class="button-group segmented">
                    <li>
                        <input ng-model="question.addEvidence" name="addEvidence{{$parent.$index}}{{$index}}" value="1" id="addEvidenceYes{{$parent.$index}}{{$index}}" type="radio">
                        <label for="addEvidenceYes{{$parent.$index}}{{$index}}">Yes</label>
                    </li>
                    <li>
                        <input ng-model="question.addEvidence" name="addEvidence{{$parent.$index}}{{$index}}" value="0" id="addEvidenceNo{{$parent.$index}}{{$index}}" type="radio">
                        <label for="addEvidenceNo{{$parent.$index}}{{$index}}">No</label>
                    </li>
                </ul>
            </div>
            <div class="grid-content small-6 medium-3 large-1">
                <label>Evidence Required?</label>
                <ul class="button-group segmented">
                    <li>
                        <input ng-model="question.evidenceRequired" name="evidenceRequired{{$parent.$index}}{{$index}}" value="1" id="evidenceRequiredYes{{$parent.$index}}{{$index}}" type="radio">
                        <label for="evidenceRequiredYes{{$parent.$index}}{{$index}}">Yes</label>
                    </li>
                    <li>
                        <input ng-model="question.evidenceRequired" name="evidenceRequired{{$parent.$index}}{{$index}}" value="0" id="evidenceRequiredNo{{$parent.$index}}{{$index}}" type="radio">
                        <label for="evidenceRequiredNo{{$parent.$index}}{{$index}}">No</label>
                    </li>
                </ul>
            </div>
            <div class="grid-content small-6 medium-3 large-1">
                <label>Add Expiry?</label>
                <ul class="button-group segmented">
                    <li>
                        <input ng-model="question.addExpiry" name="addExpiry{{$parent.$index}}{{$index}}" value="1" id="addExpiryYes{{$parent.$index}}{{$index}}" type="radio">
                        <label for="addExpiryYes{{$parent.$index}}{{$index}}">Yes</label>
                    </li>
                    <li>
                        <input ng-model="question.addExpiry" name="addExpiry{{$parent.$index}}{{$index}}" value="0" id="addExpiryNo{{$parent.$index}}{{$index}}" type="radio">
                        <label for="addExpiryNo{{$parent.$index}}{{$index}}">No</label>
                    </li>
                </ul>
            </div>
            <div class="grid-content small-6 medium-3 large-1">
                <label>Expiry Required?</label>
                <ul class="button-group segmented">
                    <li>
                        <input ng-model="question.expiryRequired" name="expiryRequired{{$parent.$index}}{{$index}}" value="1" id="expiryRequiredYes{{$parent.$index}}{{$index}}" type="radio">
                        <label for="expiryRequiredYes{{$parent.$index}}{{$index}}">Yes</label>
                    </li>
                    <li>
                        <input ng-model="question.expiryRequired" name="expiryRequired{{$parent.$index}}{{$index}}" value="0" id="expiryRequiredNo{{$parent.$index}}{{$index}}" type="radio">
                        <label for="expiryRequiredNo{{$parent.$index}}{{$index}}">No</label>
                    </li>
                </ul>
            </div>
            <div class="grid-content small-12 medium-6 large-1">
                <button class='button alert expand margin-auto' ng-click="removeQuestion($parent.$index, $index)">Remove Question <img zf-iconic="" icon="ban" size="small"> </button>
            </div>
        </div>
        <div class="grid-content small-12">
            <button class="button success expand" ng-click="addQuestion($index)">Add New Question to Group</button>
        </div>
    </div>
    <!--END THE GROUPS-->
    <button class='button success expand' ng-click="addGroup()">Add New Group</button>
    <button class='primary button expand'>Save Audit</button>
</div>

{{audit}}
