<div ui-view ng-init="createNewAudit()">



    <h1>Create Audit: {{audit.name}}</h1>
    <!--</div>-->
    <!--<div class="">-->
    <p class='lead'>Create Audit.</p>

    <!--THIS IS THE PAGE HEADER SECTION-->
    <!--<div layout-gt-sm="row">-->

    <!--</div>-->
    <div layout-padding class="grid-block wrap">
        <div class="small-12 medium-4" >
            <md-input-container class="md-block" flex-gt-sm>        
                <label>Audit Name</label>
                <input ng-model="audit.name" id="audit_name" type="text">
            </md-input-container>
        </div>
        <div class="small-12 medium-4">
            <md-input-container class="md-block" flex-gt-sm> 
                <label for="short_description">
                    Description</label>
                <input  ng-model="audit.description" id="short_description" type="text">
            </md-input-container>
        </div>
        <div class="small-12 medium-4">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Audit Type</label>
                <md-select ng-model="audit.auditType">
                    <md-option ng-repeat="type in auditType" value="{{type.id}}">
                        {{type.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
    <!--<form name="userForm" novalidate>-->
    <hr>

    <!--START THE GROUPS-->
    <div layout-padding class="grid-block wrap group" style="border:1px solid #ccc; border-radius: 3px; "ng-repeat="group in audit.groups">
        <!--THIS IS THE GROUP HEADERS-->        
        <div class="small-6 large-10">
            <md-input-container class="md-block" flex-gt-sm>        
                <label>Group Name</label>
                <input ng-model="group.name" name="groupName" type="text" value="">
            </md-input-container>
        </div>
        <div class="grid-content small-6 large-2 v-align">
            <md-button class="button alert expand margin-auto md-warn md-raised md-hue-2" ng-click="removeGroup($index)"><img style="color: white" zf-iconic="" icon="ban"  size="small"></md-button>
        </div>
        <!--THIS IS THE QUESTIONS-->
        <div layout-padding class="grid-block small-12 wrap alternate" ng-repeat="question in group.questions">
            <div class=" small-12 medium-8 large-4">
                <md-input-container class="md-block" flex-gt-sm>     
                    <label>Question</label>

                    <textarea ng-model="question.question" md-maxlength="150" rows="5" md-select-on-focus></textarea>

                    <!--<input ng-model="question.question" id='question{{$parent.$index}}{{$index}}' type="text" value="{{question.question}}" >-->
                </md-input-container>
            </div>
            <div class="small-12 medium-4 large-2">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Question Type</label>
                    <md-select ng-model="question.answerType">
                        <md-option ng-repeat="option in questionType" value="{{option.id}}">
                            {{option.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="small-6 medium-3 large-1">
                <label>Answer Required</label>
                <div>
                    <label class="switch-label float-left">No</label>
                    <label class="switch-label float-right">Yes</label>
                </div>
                <md-slider class="md-primary" flex min="0" max="1" ng-model="question.answerRequired"></md-slider>
            </div>
            <div class="small-6 medium-3 large-1">
                <label>Add Evidence</label>
                <div>
                    <label class="switch-label float-left">No</label>
                    <label class="switch-label float-right">Yes</label>
                </div>
                <md-slider class="md-primary" flex min="0" max="1" ng-model="question.addEvidence"></md-slider>
            </div>
            <div class="small-6 medium-3 large-1">
                <label>Evidence Required?</label>
                <div>
                    <label class="switch-label float-left">No</label>
                    <label class="switch-label float-right">Yes</label>
                </div>
                <md-slider class="md-primary" flex min="0" max="1" ng-model="question.evidenceRequired"></md-slider>
            </div>
            <div class="small-6 medium-3 large-1">
                <label>Add Expiry?</label>
                <div>
                    <label class="switch-label float-left">No</label>
                    <label class="switch-label float-right">Yes</label>
                </div>
                <md-slider class="md-primary" flex min="0" max="1" ng-model="question.addExpiry"></md-slider>
            </div>
            <div class="small-6 medium-3 large-1">
                <label>Expiry Required?</label>
                <div>
                    <label class="switch-label float-left">No</label>
                    <label class="switch-label float-right">Yes</label>
                </div>
                <md-slider class="md-primary" flex min="0" max="1" ng-model="question.expiryRequired"></md-slider>
            </div>
            <div class="grid-content small-12 medium-6 large-1">
                <md-button class="button alert margin-auto md-warn md-raised" ng-click="removeQuestion($parent.$index, $index)"><img style="color: white" zf-iconic="" icon="ban"  size="small"></md-button>
            </div>
        </div>
        <div class="grid-content small-12">
            <button class="button success expand" ng-click="addQuestion($index)">Add New Question to Group</button>
        </div>
    </div>
    <!--END THE GROUPS-->
    <button class='button success expand' ng-click="addGroup()">Add New Group</button>
    <button class='primary button expand'>Save Audit</button>
</div>

{{audit}}
