<div ui-view ng-init="doTakeAudit()">

    {{ audit.answerType.options}} 

    <h1>Proto of taking an audit.</h1>
    <div layout-padding class="grid-block wrap">
        <div layout-padding class="grid-block wrap">
            <div class="small-6 medium-3" >       
                <label>Audit Assigned to:</label><p>Someone Somewhere</p>
            </div>
            <div class="small-6 medium-3">
                <label>Address Assigned to:</label><p>123 Street, Somewhere, Someplace, S41 1AB</p>
            </div>
            <div class="small-6 medium-3">
                <label>Completion Due By: </label><p>18-04-2016</p>
            </div>
            <div class="small-6 medium-3">
                <label>Date Today: </label><p>{{ DateToday}}</p>
            </div>
        </div>
        <div  layout-padding class="grid-block wrap group" ng-repeat="group in audit.groups">



            <h2>{{ group.name}}</h2>
            <div layout-padding class="grid-block small-12 wrap alternate text-center" ng-repeat="question in group.questions" ng-model="takeAudit.answers[question.id].parent_question">
                <div class="small-12 medium-3">
                    <h3 class="text-left">Question</h3>            
                    <p>{{ question.question}}</p>            
                </div>                
                <div class="small-12 medium-2">
                    <label class="small-label">Answer</label>
                    <div class="grid-block" >                                                                      
                        <div ng-repeat="option in question.answerType.options| orderObjectBy:'value'" class="grid-content text-align switch-label">{{option.name}}</div>
                    </div>
                    <md-slider  ng-model="takeAudit.answers[question.id].score" class="md-primary" style="margin: 0 1rem" flex step="{{question.answerType.optionSteps}}" min="0" max="{{question.answerType.optionMax}}" ></md-slider>
                    {{takeAudit.answers[question.id].score}}
                </div> 
                <div class="small-12 medium-2" ng-if="question.addExpiry === 1">
                    <label>Expires</label>
                    <md-datepicker ng-model="takeAudit.answers[question.id].expires" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div class="small-12 medium-2" ng-if="question.addExpiry === 0">
                    <label>No expiry required.</label>
                </div>
                <div class="small-12 medium-2">
                    <md-input-container class="md-block" flex-gt-sm>        
                        <label>Notes</label>
                        <textarea ng-model="takeAudit.answers[question.id].notes" md-maxlength="150" rows="5" md-select-on-focus></textarea>                    
                    </md-input-container>
                </div>
                <div class="small-12 medium-3" ng-if="question.addEvidence === 1">
                    <label>Evidence</label>
                    <md-input-container class="md-block" flex-gt-sm>                       

                        <div ngf-drop="onFileSelect($files)" class="drop-box" ng-model="asset.file"
                             ngf-drag-over-class="'dragover'"
                             ngf-pattern="'image/*,application/pdf'">

                            <p style="padding: 5px; font-size: 110%; font-weight: bold;" ng-if="!asset.file">Drag and Drop Image Here or</p>

                            <md-button ng-if="asset.file" style="position: absolute; top: 0; right: 0;" class="md-fab md-mini md-primary md-button md-ink-ripple" ng-click="asset.file = null" aria-label="Remove Image">
                                <md-icon><i class="material-icons">&#xE872;</i></md-icon>
                            </md-button>

                            <img ng-if="asset.file"
                                 ngf-src="asset.file" 
                                 ngf-background="asset.file"          
                                 ngf-no-object-url="true or false" 
                                 >
                            
                            <div ng-hide="asset.file" class="button" ngf-select="onFileSelect($files)" ng-model="asset.file" name="file" ngf-pattern="'image/*'"
                                 ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                                 >Select File</div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                        </div>


                    </md-input-container>       
                </div>
                <div class="small-12 medium-2" ng-if="question.addEvidence === 0">                    
                    <label>No evidence required.</label>
                </div>
            </div> 
        </div>
    </div>
    <p>Audit Completion %</p>
    <md-progress-linear md-mode="determinate" value="60"></md-progress-linear>
</div>

