<div ui-view ng-init="doGetAudit()">


    <style>
        md-switch{
            display: flex; align-items: center; justify-content: center;
        }
    </style>

    <h1>Create Audit: {{audit.name}}</h1>
    <p class='lead'>Create Audit.</p>

    <!--THIS IS THE PAGE HEADER SECTION-->
    <form name="form" novalidate>
        <div layout-padding class="grid-block wrap">
            <div class="small-12 medium-4" >
                <md-input-container class="md-block" flex-gt-sm>        
                    <label>Audit Name</label>
                    <input ng-model="audit.name" name="name" type="text" md-minlength="3" 
                           md-maxlength="150" required>

                    <div ng-messages="form.name.$error">
                        <div ng-message="required">Audit name is required.</div>
                        <div ng-message="md-maxlength">The name has to be less than 150 characters long.</div>
                    </div>

                </md-input-container>
            </div>
            <div class="small-12 medium-4">
                <md-input-container class="md-block" flex-gt-sm> 
                    <label for="short_description">
                        Description</label>
                    <input  ng-model="audit.description" id="short_description" type="text">
                </md-input-container>
            </div>
            <div class="small-12 medium-4">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Audit Type</label>

<!--                <md-select ng-model="audit.auditType" name="type" required ng-model-options="{trackBy: $value.id}">
                        <md-option ng-repeat="type in auditTypes" ng-value="{{type.id}}">
                            {{type.name}}
                        </md-option>
                    </md-select>    -->
                    
                <md-select ng-model="audit.auditTypes" ng-model-options="{trackBy: '$value.id'}">
                    <md-option ng-value="type" ng-repeat="type in auditTypes">{{ type.name}}</md-option>
                </md-select>

                    <div ng-messages="form.type.$error">
                        <div ng-message="required">An Audit type is required.</div>
                    </div>

                </md-input-container>
            </div>
        </div>
<!--{{ audit.groups }}-->
        <!--<form name="userForm" novalidate>-->
        <!--START THE GROUPS-->
        <div layout-padding class="grid-block wrap group" style="border:1px solid #ccc; border-radius: 3px; "ng-repeat="group in audit.groups">
            <!--THIS IS THE GROUP HEADERS-->        
            <div class="small-8 medium-10 large-11">
                <md-input-container class="md-block" flex-gt-sm>        
                    <label>Group Name</label>
                    <input ng-model="group.name" name="groupName" type="text" required>
                    <div ng-messages="form.groupName.$error">
                        <div ng-message="required">Please name this group.</div>
                    </div>

                </md-input-container>
            </div>
            <div class="grid-content small-4 medium-2 large-1 v-align">
                <md-button class="button expand margin-auto md-fab md-raised alert" ng-click="removeGroup($index)"><img class="anti-margin" zf-iconic="" icon="ban"  size="small"></md-button>
            </div>
            <!--THIS IS THE QUESTIONS-->
            <div layout-padding class="grid-block small-12 wrap alternate" ng-repeat="question in group.questions">
                <div class=" small-12 medium-8 large-4">
                    <md-input-container class="md-block" flex-gt-sm>     
                        <label>Question</label>
                        <textarea ng-model="question.question" name="question" md-maxlength="150" rows="5" md-select-on-focus required></textarea>
                        <div ng-messages="form.question.$error">
                            <div ng-message="required">Question required.</div>
                        </div>
                        <!--<input ng-model="question.question" id='question{{$parent.$index}}{{$index}}' type="text" value="{{question.question}}" >-->
                    </md-input-container>
                </div>
                <div class="small-12 medium-4 large-3">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label> Question Type</label>
                        <md-select ng-model="question.answerType" ng-model-options="{trackBy: '$value.id'}">
                            <md-option ng-value="option" ng-repeat="option in questionTypes">{{ option.name}}</md-option>
                        </md-select>

                        <div ng-messages="form.questionType.$error">
                            <div ng-message="required">Please select a question type.</div>
                        </div>
                    </md-input-container>
                </div>
                <!--            <div class="small-6 medium-3 large-1">
                                <label>Answer Required</label>
                                <div>
                                    <label class="switch-label float-left">No</label>
                                    <label class="switch-label float-right">Yes</label>
                                </div>
                                <md-slider class="md-primary" flex min="0" max="1" ng-model="question.answerRequired"></md-slider>
                            </div>-->
                <div class="small-6 medium-3 large-1">
                    <label>Add Evidence</label>
                    <div>
                        <label class="switch-label float-left">No</label>
                        <label class="switch-label float-right">Yes</label>
                    </div>
                    <md-switch class="md-primary" aria-label="Switch" ng-model="question.addEvidence" ng-true-value="1" ng-false-value="0" ng-change="question.addEvidence ? 1 : question.evidenceRequired = 0"></md-switch>
                    <!--
                    <md-slider class="md-primary" flex min="0" max="1" ng-change="question.addEvidence ? 1 : question.evidenceRequired = 0" ng-model="question.addEvidence"></md-slider>-->
                </div>
                <div class="small-6 medium-3 large-1">
                    <label>Evidence Required?</label>
                    <div>
                        <label class="switch-label float-left">No</label>
                        <label class="switch-label float-right">Yes</label>
                    </div>

                    <md-switch class="md-primary" aria-label="Switch" ng-model="question.evidenceRequired" ng-disabled="question.addEvidence !== 1" ng-true-value="1" ng-false-value="0"></md-switch>

                    <!--<md-slider class="md-primary"  flex min="0" max="1" ng-model="question.evidenceRequired" ng-disabled="question.addEvidence !== 1" ></md-slider>-->
                </div>
                <div class="small-6 medium-3 large-1">
                    <label>Add Expiry?</label>
                    <div>
                        <label class="switch-label float-left">No</label>
                        <label class="switch-label float-right">Yes</label>
                    </div>

                    <md-switch class="md-primary" aria-label="Switch" ng-true-value="1" ng-false-value="0" ng-change="question.addExpiry ? 1 : question.expiryRequired = 0"  ng-model="question.addExpiry"></md-switch>


                    <!--<md-slider class="md-primary" flex min="0" max="1" ng-change="question.addExpiry ? 1 : question.expiryRequired = 0"  ng-model="question.addExpiry"></md-slider>-->
                </div>
                <div class="small-6 medium-3 large-1">
                    <label>Expiry Required?</label>
                    <div>
                        <label class="switch-label float-left">No</label>
                        <label class="switch-label float-right">Yes</label>
                    </div>

                    <md-switch class="md-primary" aria-label="Switch" ng-true-value="1" ng-false-value="0"  ng-model="question.expiryRequired" ng-disabled="question.addExpiry !== 1"></md-switch>


                    <!--<md-slider class="md-primary" flex min="0" max="1"  ng-model="question.expiryRequired" ng-disabled="question.addExpiry !== 1"></md-slider>-->
                </div>
                <div class="small-12 medium-2 large-1">
                    <md-button class="float-right expand button margin-auto  alert " ng-click="removeQuestion($parent.$index, $index)"><i class="show-for-small-only">Remove Question</i><img style="margin:-3px 0 0 0;" zf-iconic="" icon="ban"  size="small"></md-button>
                </div>
            </div>
            <div class="small-12">
                <button class="button success expand" ng-click="addQuestion($index)">Add New Question to Group</button>
            </div>
        </div>
        <!--END THE GROUPS-->
        
        <!--{{ audit.groups.$index }}-->
        <button class='button success expand' ng-click="addGroup($index)">Add New Group</button>
        <button type="submit" class='primary button expand' ng-click="doUpdateAudit(audit)">Save Audit</button>
        <input type="submit" id="submit" value="Submit" />
    </form>
</div>

{{audit|json}}
