


nav[role="navigation"] {
	text-align: center;
}

.cd-pagination {
	/*width: 90%;*/
	text-align: center;

	li {
		 /*hide numbers on small devices*/ 
		display: inline-block;
		margin: 0 .2em;
	}
        
        li:first-of-type, li:last-of-type{
            display: inline-block;
        }

	a, span {
		display: inline-block;
		padding: 1rem;
                /*height: 40px;*/
	}

	a {
		border: 1px solid darken($secondary-color, 10%);
		border-radius: $global-radius;
		.no-touch &:hover {
			background-color: darken($secondary-color, 5%);
		}

	}

	.current {
		/* selected number */
		background-color: $warning-color;
		border-color: darken($warning-color, 10%);
		color: whitesmoke;
		pointer-events: none;
	}




}


.cd-pagination.no-space {
	width: auto;
	max-width: none;
	display: inline-block;
	border-radius: $global-radius;
	border: 1px solid darken($secondary-color, 10%);

	li {
		float: left;
		border-right: 1px solid darken($secondary-color, 10%);
		&:last-of-type {
			border-right: none;
		}
	}

	a, span {
		float: left;
		border-radius: 0;
		border: none;
	}

	li:first-of-type a {
		border-radius: $global-radius 0 0 $global-radius;
	}

	li:last-of-type a {
		border-radius: 0 $global-radius $global-radius 0;
		
	}
}