.switch-label{
    font-weight: bolder;
    color: #666; 
    display: inline-block;
    font-size: 9pt;
}

.small-label{

    font-size: 1rem;
    color: #777;
    transform: translate3d(0,6px,0) scale(.75);


}


.minus-margin-top{
    margin-top: -25px;
}
