table{
    width: 100%;
}

tr:nth-child(1) {
    height: 30px;
    background: lighten($primary-color, 10%);
    color: $secondary-color;
}

tr:nth-child(even) {
    background: darken($secondary-color, 0.5%);
}

tr:hover{
    background-color: lighten($primary-color, 50%);
}

td .button{
    margin: 10px;
}
td{
    padding: 10px;
}