<div ui-view ng-init="doGetAllAssetGroups()">

    <h1>Asset Groups</h1>    
    <a class="success button" ui-sref="asset-new">
        <i class="material-icons">&#xE89C;</i>
        Create New Asset
    </a>
    <div class="grid-block small-up-1 medium-up-2 large-up-4">
        <div class="grid-content">
            <div class="warning card">
                <a ui-sref="assets-all"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4 class="text-center">All Assets</h4>
                </div>
                <div class="card-section">
                    <a class="button saturate-warning expand" ui-sref="assets-all">View all Assets</a>
                </div>
            </div>
        </div>
        <div ng-repeat="group in assetGroups" class="grid-content">
            <div class="primary card">
                <a ui-sref="asset-types({asgrtype: group.name, asgrid: group.id})"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4 class="text-center">{{ group.name}}</h4>
                </div>
                <div class="card-section">
                    <a class="button saturate-primary expand" ui-sref="asset-types({asgrtype: group.name, asgrid: group.id})">View {{ group.name}}</a>
                </div>
            </div>
        </div>
    </div>

</div>