<div ui-view ng-init="doGetAssetsByType()">

    
    <div class="grid-block wrap">
        <div class="grid-content">
            <h1>{{ tyname }}'s</h1>
        </div>
        <div class="small-12 medium-4 grid-content text-right">
            <md-content>
                <md-input-container class="md-icon-float md-block">
                    <input ng-model="query" type="text" placeholder="Search assets..." autofocus>
                    <md-icon class="name"><i class="material-icons">&#xE8B6;</i></md-icon>
                </md-input-container>
            </md-content>
        </div>
    </div>
    <div class="grid-block">
        <a class="success button" ui-sref="asset-new">
            <i class="material-icons">&#xE89C;</i>
            Create a New Asset
        </a>    
    </div>
    
    
    <div class="grid-block small-up-1">
        <table ng-if='!!assets.length < 1' class="text-center table-100">
            <tr ng-include src="'./templates/assets/partials/table-head.html'">
                <!--Include the table header here, partialed out as used in a few places.-->
            </tr>
            <tr  dir-paginate="asset in assets| toArray: false | filter:query | orderBy: sortKey:reverse|itemsPerPage:10" ng-class="{leave: startFade}" ng-hide="asset.isHidden" ng-include="'./templates/assets/partials/table-body.html'" >
                <!--Include the table body here, partialed out as used in a few places.-->
            </tr>
        </table>
        <div class="text-center" ng-if='!!assets.length > 0' ng-include src="'./templates/assets/partials/nothing-found.html'">
            
        </div>
    </div>
    <div ng-if='!!assets.length < 1'>
        <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
